

<ion-header>
   
</ion-header>
<div style="padding-top: 5%;"></div>

<ion-content>
	<div class="box" style="height: 60%;">
		<h2>Welcome</h2>
		<form action="">
			<div class="inputBox">
        <ion-button style="width: 100%;" (click)="Register()">SIGN UP</ion-button>
			</div>
			<div class="inputBox">
        <ion-button style="width: 100%; padding-top: 6%;">ATM's NEAR ME</ion-button>
      </div>
      <div class="inputBox">
        <ion-button style="width: 100%;padding-top: 6%;">LOGIN</ion-button>
			</div>
		
		</form>
	</div>

</ion-content>