<ion-content >
	<body>
	<div class="box">
		&nbsp; <img src="../assets/images/brise.jpg" alt="BRISE" width="150" height="100"> 
		<form action="">
		<br>&nbsp;&nbsp;&nbsp;
	  <input type="submit" name="" (click)="goToAtms()" value="ATM's NEAR ME"><br><br>
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <input type="submit" name="" (click)="login()" value="LOGIN"><br><br>
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <input type="submit" name="" (click)="Register()" value="SIGN UP"><br><br>
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <img src="../assets/images/logo.jpg" alt="BDO" width="90" height="50">  
		</form>	
	</div>
	<div class="inputBox">
		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<ion-icon type="button" (click)="imei()" name="lock-closed-outline"></ion-icon>
	  </div>
	</body>
</ion-content>