

<ion-header>
   
</ion-header>
<div style="padding-top: 5%;"></div>

<ion-content>
	<div class="box" style="height: 60%;">
		<h2>Enter Your Names abd Phone Number</h2>
		<form action="">
      <div class="inputBox">
        <input type="text" name="Name" required="">
        <label for="">Name and Surname</label>
      </div>
		  <div class="inputBox">
        <input type="text" name="Name" required="">
        <label for="">Phone Number</label>
      </div>
    </form>
    
    <div class="inputBox">
      <ion-button  style="width: 100%;padding-top: 6%;" (click)="next()">Next</ion-button>
    </div>
	</div>

</ion-content>