<ion-content>
  <body>
	<div class="box" style="height: 60%;">
		<h2>Enter Recepient Details:</h2>
    <form (ngSubmit)="store($event)">      
      <div class="inputBox">
        <input type="text" name="name" required="">
        <label for="">Name & Surname</label>
      </div>
		  <div class="inputBox">
        <input type="text" name="cell" required="">
        <label for="">Cellphone Number</label>
      </div>
      &nbsp;&nbsp;&nbsp;<input type="submit" name="" value="P r o c e e d">
      <br><br>
      &nbsp;&nbsp;&nbsp;<img src="../assets/images/logo.jpg" alt="BDO" width="100" height="50">   
    </form>

	</div>
</body>
</ion-content>