zxing-scanner {
    max-width: 100%;
  }
  
  .results {
  
    position: sticky;
    bottom: 0;
    padding: 15px;
    background: #02c3c3;
    color: black;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    small {
      font-weight: bolder;
      display: block;
      font-size: 60%;
      margin: -.6em 0 0 0;
    }
  
    button {
      background: none;
      border: none;
      line-height: 1;
      font-weight: bolder;
      font-size: 120%;
      float: right;
      color: black;
      $mg: 8px;
      margin: (-$mg) (-$mg) (-$mg) $mg;
    }
  }
  
  h2 {
    padding: 0 16px;
  }
  
  .vid {
    width: 100%;
    height: 100%;
}
////////////////////////
zxing-scanner {
  max-width: 100%;
  max-height: 500%;
  width: 100%;
  padding-bottom: 5%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  //background: #4568DC;  //fallback for old browsers 
  //background: -webkit-linear-gradient(to right, #fff12a, #45dcaa, #fda809);
  background: linear-gradient(to right, darkblue, red, white);
  //background: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 40px;
	//background: linear-gradient(to bottom, black, gold, white);
	background: white;
	box-sizing: border-box;
	box-shadow: white;
	border-radius: 10px;
}
.box h2 {
	margin: 0 0 30px;
	padding: 0;
	color: darkblue;
	text-align: center;
}