

<ion-header>
   
</ion-header>
<div style="padding-top: 5%;"></div>

<ion-content>
	<div class="box" style="height: 60%;">
		<h2>Select a Transaction</h2>
		<form action="">
			<div class="inputBox">
        <ion-button style="width: 100%;" (click)="Register()">Transfer</ion-button>
			</div>
			<div class="inputBox">
        <ion-button  style="width: 100%; padding-top: 6%;">Deposit Money</ion-button>
      </div>
      <div class="inputBox">
        <ion-button (click)="Amount()" style="width: 100%;padding-top: 6%;">Withdraw Money</ion-button>
      </div>
      <div class="inputBox">
        <ion-button  style="width: 100%;padding-top: 6%;">Balance Enquiry</ion-button>
			</div>
		
		</form>
	</div>

</ion-content>